<!DOCTYPE html>
<html dir="rtl"><head>
	<title>پروژه کارنامه</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
	<link href="https://cdn.fontcdn.ir/Font/Persian/Sahel/Sahel.css" rel="stylesheet" type="text/css">
	<style type="text/css">
		body {
			font-family: Sahel;
			text-align: right;
		}
	</style>
</head>
<body>
	<div id="app">
		<div class="container">
			<h1 class="my-5">کارنامه با ویو جی‌اس</h1>
			<table class="table table-bordered mt-5">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">درس</th>
						<th scope="col">نمره</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="course, index in courses">
						<th scope="row">{{index+1}}</th>
						<td>{{course.title}}</td>
						<td>{{course.mark}}</td>
					</tr>
					<tr>
						<th scope="row">معدل</th>
						<td colspan="2">{{totalMark}}</td>
					</tr>
				</tbody>
			</table>
			<div class="row mt-5" style="max-width: 600px;">
				<div class="col">
					<input type="text" placeholder="نام درس" class="form-control" v-model="courseTitle">
				</div>
				<div class="col">
					<input type="number" placeholder="نمره" class="form-control" v-model="courseMark">
				</div>
				<div class="col">
					<button class="btn btn-primary" @click="addCourse">افزودن</button>
				</div>
			</div>
		</div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script type="text/javascript">
		let app = new Vue({
			el: '#app',
			data: {
				courses: [
					{title: 'فیزیک', mark: 14},
					{title: 'ریاضی', mark: 16},
				],
				courseTitle: "",
				courseMark: "",
			},
			methods: {
				addCourse() {
					this.courses.push({title: this.courseTitle, mark: parseInt(this.courseMark)})
				}
			},
			computed: {
				totalMark() {
					let total = 0
					for (var i = this.courses.length - 1; i >= 0; i--) {
						total += this.courses[i].mark
					}
					return (total/this.courses.length).toFixed(2)
				}
			}
		})
	</script>
</body>
</html>